<!DOCTYPE html>
<html>
<head>
  <title>InvoiceCore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render '/layouts/nav' %>
  <header id="top" class="header">
        <div class="text-vertical-center">
          <div class="container">
            <%= yield %>
          </div>
        </div>
    </header>

    <!-- <header>
        <div class="header-content">
              <%#= yield %>
            <div class="header-content-inner">
                <h1>Your Favorite Source of Free Invoicing</h1>
                <hr>
                <p>Start Invoicing...Let's get started</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header> -->


<!-- <div class="container">

  <%#= yield %>
</div> -->
</body>
</html>
